# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log